@keyframes placeHolderShimmer {
  0% {
    background-position: -454px 0;
  }
  100% {
    background-position: 454px 0;
  }
}

.shimmer {
  animation-duration: 1.9s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f5f7f9;
  background: linear-gradient(to right, #f5f7f9 2%, #ecedf1 22%, #f5f7f9 64%);
  background-size: 908px;
  position: relative;
}
