.manga-card {
  width: 12.1rem;
  max-width: 12.1rem;
  height: auto;
  background: var(--white-color);
  border-radius: 0.1rem;
  text-decoration: none;
}

.manga-card-image {
  width: 12.1rem;
  max-width: 12.1rem;
  height: 17rem;
  max-height: 17rem;
  object-fit: cover;
}

.manga-card-info {
  padding: 0.5rem;
  border-top: solid 1px var(--gray-color);
}

.manga-card-title {
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black-color);
  width: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
  .manga-card {
    width: 21.5rem;
    max-width: 21.5rem;
  }

  .manga-card-image {
    width: 21.5rem;
    max-width: 21.5rem;
    height: 30rem;
    max-height: 30rem;
  }

  .manga-card-title {
    font-size: 1.2rem;
  }
}
