* {
  box-sizing: border-box;
  --gray-color: #eaeaea;
  --bold-gray-color: #aaa;
  --dark-gray-color: #696969;
  --light-gray-color: #fafafa;
  --background-color: #f5f7fa;
  --link-color: #0070f3;
  --dark-link-color: #004594;
  --ligth-link-color: rgba(0, 118, 255, 0.3);
  --white-color: #fff;
  --black-color: #000;
  --light-black-color: #2c2c2c;
  --red-color: #c00;
  --transition: 0.15s;
}

body {
  position: relative;
  min-width: 20rem;
  min-height: 100%;
  margin: 0;
  background: var(--background-color);
  line-height: 1.65;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-feature-settings: "kern";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  color: var(--link-color);
  transition: color var(--transitoin) ease-in;
}

a:hover {
  color: var(--dark-link-color);
}

img {
  width: 100%;
  height: auto;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: calc(100vh - 4.1rem);
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.center {
  align-items: center;
  justify-content: center;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-event {
  justify-content: space-evenly;
}

.sticky {
  position: sticky;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.scroll {
  overflow: auto;
}

.truncate {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.margin-none {
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.card-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card-shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
